.courses {
    margin-top: 150px;
}

.courses .container {
    display: flex;
    flex-direction: column;
    gap: 100px;
}


.courses .container .courses-heading {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-left: 45px;
}

.courses .container .courses-heading h5 {
    color: var(--button-green-color);
    font-weight: bold;
}

.courses .container .courses-heading h1 {
    color: var(--text-main-color);
    font-weight: bold;
    font-size: 40px;
}

.courses .container .courses-heading p {
    color: var(--text-secondary-color);
    font-size: 14px;
}

.courses .container .courses-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

.courses .container .courses-cards .courses-card {
    width: 238px;
    box-shadow: 0 13px 19px 0 rgba(0, 0, 0, 0.07);
    transition: 0.4s ease-in-out all;
    border-radius: 15px;
    cursor: pointer;
}

.courses .container .courses-cards .courses-card .card-image{
    position: relative;

}

.courses .container .courses-cards .courses-card .card-image::before{
    display: none;
    content: "Sale";
    background-color: red;
    color: white;
    padding: 2px;
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
}

.courses .container .courses-cards .courses-card:hover ::before{
    display: block;
}

.courses .container .courses-cards .courses-card .card-image .image-hover-icons{
    display: none !important;
    position: absolute;
    bottom: 24px;
    left: 44%;
    transform: translate(-45%);
    display: flex;
    gap: 10px;
}


.courses .container .courses-cards .courses-card:hover .card-image .image-hover-icons{
    display: block !important;
}

.courses .container .courses-cards .courses-card .courses-card-contant {
    padding: 25px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.courses .container .courses-cards .courses-card .courses-card-contant .card-rate{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

.courses .container .courses-cards .courses-card .courses-card-contant .card-rate h5{
    color: var(--button-green-color);
    font-size: 14px;
}


.courses .container .courses-cards .courses-card .courses-card-contant .card-rate .card-stsr-rate{
    padding: 3px 5px;
    background-color:  #2D4059;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.courses .container .courses-cards .courses-card .courses-card-contant h4{
    color: var(--text-main-color);
}


.courses .container .courses-cards .courses-card .courses-card-contant p{
    color: var(--text-secondary-color);
    font-size: 14px;
}


.courses .container .courses-cards .courses-card .courses-card-contant .card-sales{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    color: var(--text-secondary-color);
    font-weight: bold;
}

.courses .container .courses-cards .courses-card .courses-card-contant .prices{
    display: flex;
    align-items: center;
    gap: 10px;
}

.courses .container .courses-cards .courses-card .courses-card-contant p:nth-child(1){
    color: #BDBDBD;
    font-weight: bold;
    font-size: 14px;
}

.courses .container .courses-cards .courses-card .courses-card-contant p:nth-child(2){
    color: #FFAB71;
    font-weight: bold;
    font-size: 14px;
}


.courses .container .courses-cards .courses-card .courses-card-contant button{
    font-size: 14px;
    color: var(--button-green-color);
    border: 2px var(--button-green-color) solid;
    padding: 10px 20px;
    border-radius: 37px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: transparent;
    
    outline: none;
}

.courses .container .courses-cards .courses-card .courses-card-contant button:hover{
    background-color:   #BDBDBD;
    ;
    color: black;
}

@media screen and (max-width:992px) {
    .courses .container {
        flex-direction:column;
        
    }
    
    
.courses .container .courses-cards {
    flex-direction: column;
    gap: 20px;
    
}
}